.price {
	float: right;
}

.ui.ribbon.label {
	background-color: rgb(98, 77, 94) !important;
}

.ui.buttons {
	position: relative;
	bottom: -20px;
}

.ui.button {
	background-color: #d2c2bd;
}

.edit-delete-buttons {
	visibility: hidden;
}

.dish-element:hover .edit-delete-buttons {
	visibility: visible;
}

.ui.positive.button {
	background-color: rgb(98, 77, 94);
}