.price {
	float: right;
}

.ui.ribbon.label {
	background-color: rgb(98, 77, 94) !important;
}

.ui.buttons {
	position: relative;
	bottom: -20px;
}

.ui.button {
	background-color: #d2c2bd;
}

.ui.positive.button {
	background-color: rgb(98, 77, 94);
}