<div class="ui four column stackable grid" >
	<div class="column" *ngFor="let dish of data.menu">
		<div class="ui fluid image dish-element">
			<div class="ui brown ribbon label">
				<i class="spoon icon"></i>{{dish.name}}
			</div>
			<a [routerLink]="['edit', 'baker', dish.id]">
				<img src="{{dish.image}}" onerror="this.src = './images/default-image.jpg';">
			</a>
			<p>{{dish.description}}</p>
			<div class="ui tag labels price">
				<a class="ui label">
					${{dish.price}}
				</a>
			</div>
			<div class="ui buttons edit-delete-buttons">
				<button class="ui button"><a [routerLink]="['edit', 'admin', dish.id]">Edit</a></button>
				<div class="or"></div>
				<button class="ui positive button" (click)="deleteDish(dish.id)">Delete</button>
			</div>
		</div>
	</div>
</div>
