.price {
	float: right;
}

body {
	padding: 20px;
}

.ui.ribbon.label {
	background-color: rgb(194, 101, 67) !important;
}

.ui.buttons {
	position: relative;
	bottom: -20px;
}

.ui.button {
	background-color: #e5c6b2;
}

.ui.positive.button {
	background-color: rgba(194, 101, 67, 0.84);
}