<div class="ui form">
	<div class="field">
		<label>Name of dish</label>
		<input type="text" id="name" placeholder="Name of dish" disabled [(ngModel)]="dish.name">
	</div>
	<div class="field">
		<label>Description</label>
		<textarea id="description" placeholder="Description of dish" disabled [(ngModel)]="dish.description"></textarea>
	</div>
	<div class="field">
		<label>Price</label>
		<input type="number" id="price" placeholder="Price of dish" [(ngModel)]="dish.price">
	</div>
	<div class="field">
		<label>Image</label>
		<input type="url" id="image" placeholder="Url of image" disabled [(ngModel)]="dish.image">
	</div>
	<div class="field">
		<label>Date From</label>
		<input id="dateFrom" type="date" disabled [(ngModel)]="dish.dateFrom">
	</div>
	<div class="field">
		<label>Date To</label>
		<input id="dateTo" type="date" disabled [(ngModel)]="dish.dateTo">
	</div>

	<button class="ui button" type="button" (click)="editDish()">Save changes</button>
</div>

